<div class="container-list">
<div class="p-3">
  <mat-card>
    <div>
      <h2>
        <button class="top-info" (click)="backPage()" mat-icon-button="primary">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <strong class="top-info"> {{ farm.nameFarm }} </strong>
        <button class="top-info" id="adicionar-talhao" (click)="onAdd()">+ Nova Área</button>
        <h4 class="" id="name-productivity"> Produtividade</h4>
        <h2 class="" id="quantitity-productivity">{{ farm.farmProductivity }} kg/ha</h2>
      </h2>
     </div>
    <table mat-table [dataSource]="plots" class="mat-elevation-z8">

      <ng-container matColumnDef="map">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>map</mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="namePlot">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let element"> {{element.namePlot}} </td>
      </ng-container>

      <ng-container matColumnDef="plotAreaInHectare">
        <th mat-header-cell *matHeaderCellDef>Área</th>
        <td mat-cell *matCellDef="let element"> {{element.plotAreaInHectare}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button="primary" (click)="onEdit(element)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button="primary" (click)="onDelete(element)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button="primary" (click)="onAddProduction(element)">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </mat-card>
</div>
</div>
