.container-list {
  max-width: 1080px;
  padding: 30px;
  margin: 0 auto;
}

table{
  width: 100%;
  box-shadow: none;
}

.fabButton{
  bottom: 15px;
  position: absolute;
  right: 20px;
}

.icon-display {
  transform: scale(1.2);
}

.top-info{
  display: inline-block;
}

#adicionar-talhao{
  top: 10px;
  position: absolute;
  right: 50px;
  padding: 0px 20px 0px 20px;
	background: rgb(10, 175, 37);
	color: white;
	font-weight: bold;
	font-size: 14px;
	border: none;
	transition: 0.1s all;
}

#adicionar-talhao:hover {
	background: rgb(8, 67, 3);
}

#name-productivity{
  color: rgb(61, 61, 61);
  margin-left: 45px;
  margin-bottom: 0px;
}

#quantitity-productivity{
  margin-top: 0px;
  margin-left: 45px;
}
