table{
  width: 100%;
  box-shadow: none;
}
.name-farm{
  border-bottom: solid 1px rgba(173, 173, 232, 0.485);
}

.fabButton{
  bottom: 15px;
  position: absolute;
  right: 20px;
}

.icon-display {
  transform: scale(1.2);
}

mat-icon{
  padding-bottom: 35px;
}
