.container{
  max-width: 1080px;
  padding: 30px;
  margin: 0 auto;
}

table{
  width: 100%;
  box-shadow: none;
}

.teste{
  display: inline-block;
}

#adicionar-talhao{
  top: 10px;
  position: absolute;
  right: 50px;
  padding: 0px 20px 0px 20px;
	background: rgb(10, 175, 37);
	color: white;
	font-weight: bold;
	font-size: 14px;
	border: none;
	transition: 0.1s all;
}

#adicionar-talhao:hover {
	background: rgb(8, 67, 3);
}
